# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# ⚠️ ATENÇÃO: Este é apenas um arquivo de exemplo para o repositório.
# Crie um arquivo '.env' na sua máquina local e substitua as credenciais abaixo pelas do seu banco de dados PostgreSQL (ex: Neon, Supabase).

DATABASE_URL="postgresql://SEU_USUARIO:SUA_SENHA@HOST_DO_SEU_BANCO.aws.neon.tech/neondb?sslmode=require"